#game {
  border: 2px solid #3c6305;
  background: #6aa218;
  width: 354px;
  height: 440px;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 12px 3px;
  user-select: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e9dc4f;
  background: #fff156;
  position: absolute;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  font-family: Arial, serif;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 #907172, inset 1px -1px 0 #D4C143;
  touch-action: none;
}

.figure-3 .text {
  font-size: 80px;
  opacity: 0.8;
}

.text {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
  text-shadow: 1px 1px 1px #907172, -1px 1px 1px #A1BC7E;
}

.highlight {
  background: #b4ff52;
}
